extends layout

block content
    // BREADCRUMB
    .hero-wrap.hero-wrap-2(style="background-image: url('images/front/brands/nasa/nasa-bg.jpeg');", data-stellar-background-ratio='0.5')
        .overlay
        .container
            .row.no-gutters.slider-text.align-items-end.justify-content-start
                .col-md-12.ftco-animate.text-center.mb-5
                    h1.mb-3.bread Hackathon
    // END BREADCRUMB

    // HACKATHONLAR
    section.ftco-section.bg-light
        .container
            .row
                .col-lg-9.col-md-9
                    h1.float-left Hackathonlar
            .row
                .col-lg-12.pr-lg-4
                    .row
                        // hackathon
                        .col-md-12.ftco-animate
                            .job-post-item.p-4.d-block.d-lg-flex.align-items-center
                                .one-third.mb-4.mb-md-0
                                    .row
                                        .col-lg-2
                                            img(src='images/front/logo/nasa-logo.png', alt='', width='100px', height='85px')
                                        .col-lg-10
                                            .job-post-item-header.align-items-center
                                                span.subadge
                                                    a(href='hackathon-arama.html') National Aeronautics and Space Administration - NASA
                                                h2.mr-3.text-black
                                                    a(href='http://spaceapps.odtuggt.org/tr/', target='_blank') Space Apps '19
                                    .job-post-item-body.d-block.d-md-flex
                                        .mr-3
                                            span.fas.fa-building
                                            a(href='#', style='text-transform: capitalize')  Ankara / Türkiye
                                        .mr-3
                                            span.fas.fa-calendar-alt
                                            span(style='text-transform: capitalize')  13 - 14 Kasım 2019
                                        .mr-3
                                            span.fas.fa-eye
                                            span  143
                                        .mr-3
                                            span.fas.fa-lemon
                                            a(href='#', style='text-transform: lowercase !important;')  #uzay
                                            a(href='#', style='text-transform: lowercase !important;')  #bilim
                                            a(href='#', style='text-transform: lowercase !important;')  #teknoloji
                                .one-forth.ml-auto.d-flex.align-items-center.mt-4.md-md-0
                                    div
                                        a.icon.text-center.d-flex.justify-content-center.align-items-center.icon.mr-2(href='#')
                                            span.fas.fa-heart
                                    a.btn.btn-primary.py-2(href='hackathon-single.html', target='_blank') Açıklama

                        // end
                        // hackathon
                        .col-md-12.ftco-animate
                            .job-post-item.p-4.d-block.d-lg-flex.align-items-center
                                .one-third.mb-4.mb-md-0
                                    .row
                                        .col-lg-2
                                            img(src='images/front/logo/nasa-logo.png', alt='', width='100px', height='85px')
                                        .col-lg-10
                                            .job-post-item-header.align-items-center
                                                span.subadge
                                                    a(href='hackathon-arama.html') National Aeronautics and Space Administration - NASA
                                                h2.mr-3.text-black
                                                    a(href='http://spaceapps.odtuggt.org/tr/', target='_blank') Space Apps '19
                                    .job-post-item-body.d-block.d-md-flex
                                        .mr-3
                                            span.fas.fa-building
                                            a(href='#', style='text-transform: capitalize')  Ankara / Türkiye
                                        .mr-3
                                            span.fas.fa-calendar-alt
                                            span(style='text-transform: capitalize')  13 - 14 Kasım 2019
                                        .mr-3
                                            span.fas.fa-eye
                                            span  143
                                        .mr-3
                                            span.fas.fa-lemon
                                            a(href='#', style='text-transform: lowercase !important;')  #uzay
                                            a(href='#', style='text-transform: lowercase !important;')  #bilim
                                            a(href='#', style='text-transform: lowercase !important;')  #teknoloji
                                .one-forth.ml-auto.d-flex.align-items-center.mt-4.md-md-0
                                    div
                                        a.icon.text-center.d-flex.justify-content-center.align-items-center.icon.mr-2(href='#')
                                            span.fas.fa-heart
                                    a.btn.btn-primary.py-2(href='hackathon-single.html', target='_blank') Açıklama



                        // end
                        .col-md-12.ftco-animate
                            .job-post-item.p-4.d-block.d-lg-flex.align-items-center
                                .one-third.mb-4.mb-md-0
                                    .row
                                        .col-lg-2
                                            img(src='images/front/logo/nasa-logo.png', alt='', width='100px', height='85px')
                                        .col-lg-10
                                            .job-post-item-header.align-items-center
                                                span.subadge
                                                    a(href='hackathon-arama.html') National Aeronautics and Space Administration - NASA
                                                h2.mr-3.text-black
                                                    a(href='http://spaceapps.odtuggt.org/tr/', target='_blank') Space Apps '19
                                    .job-post-item-body.d-block.d-md-flex
                                        .mr-3
                                            span.fas.fa-building
                                            a(href='#', style='text-transform: capitalize')  Ankara / Türkiye
                                        .mr-3
                                            span.fas.fa-calendar-alt
                                            span(style='text-transform: capitalize')  13 - 14 Kasım 2019
                                        .mr-3
                                            span.fas.fa-eye
                                            span  143
                                        .mr-3
                                            span.fas.fa-lemon
                                            a(href='#', style='text-transform: lowercase !important;')  #uzay
                                            a(href='#', style='text-transform: lowercase !important;')  #bilim
                                            a(href='#', style='text-transform: lowercase !important;')  #teknoloji
                                .one-forth.ml-auto.d-flex.align-items-center.mt-4.md-md-0
                                    div
                                        a.icon.text-center.d-flex.justify-content-center.align-items-center.icon.mr-2(href='#')
                                            span.fas.fa-heart
                                    a.btn.btn-primary.py-2(href='hackathon-single.html', target='_blank') Açıklama

                        // hackathon
                        .col-md-12.ftco-animate
                            .job-post-item.p-4.d-block.d-lg-flex.align-items-center
                                .one-third.mb-4.mb-md-0
                                    .row
                                        .col-lg-2
                                            img(src='images/front/logo/nasa-logo.png', alt='', width='100px', height='85px')
                                        .col-lg-10
                                            .job-post-item-header.align-items-center
                                                span.subadge
                                                    a(href='hackathon-arama.html') National Aeronautics and Space Administration - NASA
                                                h2.mr-3.text-black
                                                    a(href='http://spaceapps.odtuggt.org/tr/', target='_blank') Space Apps '19
                                    .job-post-item-body.d-block.d-md-flex
                                        .mr-3
                                            span.fas.fa-building
                                            a(href='#', style='text-transform: capitalize')  Ankara / Türkiye
                                        .mr-3
                                            span.fas.fa-calendar-alt
                                            span(style='text-transform: capitalize')  13 - 14 Kasım 2019
                                        .mr-3
                                            span.fas.fa-eye
                                            span  143
                                        .mr-3
                                            span.fas.fa-lemon
                                            a(href='#', style='text-transform: lowercase !important;')  #uzay
                                            a(href='#', style='text-transform: lowercase !important;')  #bilim
                                            a(href='#', style='text-transform: lowercase !important;')  #teknoloji
                                .one-forth.ml-auto.d-flex.align-items-center.mt-4.md-md-0
                                    div
                                        a.icon.text-center.d-flex.justify-content-center.align-items-center.icon.mr-2(href='#')
                                            span.fas.fa-heart
                                    a.btn.btn-primary.py-2(href='hackathon-single.html', target='_blank') Açıklama

                        // end
                .col-lg-12.mt-5
                    .col.text-center
                        .block-27
                            ul
                                li
                                    a(href='#') <
                                li.active
                                    span 1
                                li
                                    a(href='#') 2
                                li
                                    a(href='#') 3
                                li
                                    a(href='#') 4
                                li
                                    a(href='#') 5
                                li
                                    a(href='#') >

    // END HACKATHONLAR
